.detail {
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
}

.detail-hero {
  background: radial-gradient(
      at center,
      rgba(0, 0, 0, 0.5),
      rgba(253, 89, 149, 1)
    ),
    url('/public/money.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-hero h3 {
  text-align: right;
  padding: 3rem 3rem 0 3rem;
}

.detail-hero h4 {
  text-align: right;
  padding: 0 3rem 3rem 3rem;
}

.detail-hero p {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.detail-info {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
}

.detail-info p {
  margin-left: 1rem;
}

.detail-item {
  padding: 1rem 3rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.detail-item:nth-child(2n) {
  background-color: #cf648b;
}

.icon {
  color: #fff;
  cursor: pointer;
}

a {
  color: #fff;
}
